<h2>Posts</h2>
<a href="{% url 'post_create' %}">Create New Post</a>
<ul>
  {% for post in posts %}
    <li>
      {{ post.title }} - {{ post.created_at }}
      <a href="{% url 'post_update' post.pk %}">Edit</a>
      <a href="{% url 'post_delete' post.pk %}">Delete</a>
    </li>
  {% endfor %}
</ul>
<!-- blog/templates/blog/post_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>All Blog Posts</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }} - {{ post.content }}</li>
        {% empty %}
            <li>No posts found.</li>
        {% endfor %}
    </ul>
</body>
</html>
